html {
    overflow-y: scroll;

}

main {
    margin-top: 6%;
}

#grille {
    display: grid;
    grid-gap: 5%;
    margin: 4%;
}

#grille p {
    color: white;
    text-align: center;
}


#grille div img {
    width: 12vw;
    border-radius: 8px;
    box-shadow: 8px 8px 12px #020202;
    

}

#grille div a img {
    transition: 0.2 ease;
    transform: scale(1);
    display: block;
    margin: auto;
}

#grille div a img:hover {
    transition:  0.2 ease;
    transform: scale(1.05);
}
h1 {
    color: #FFFFFF;
    text-shadow:  0 0 15px #FFF, 0 0 20px #33EEF5, 0 0 30px #33EEF5;
    margin: 6%;
}

@media only screen and (max-width: 768px) and (orientation: portrait)  { 
    #grille {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15vh;
    }
    
    #grille div img {
        display: block;
        width: 70vw;
        align-items: center;
        box-shadow: 32px 32px 12px #020202;
        margin: auto;
    }

    #grille p {
        margin-top: 32px;
        font-size: 1.6em;
    }

}


/* div:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

div:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
} */