
html {
    scroll-behavior:smooth;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*#f53a33*/
* {
    font-family: 'Audiowide', cursive;
}

body {
    
    background-repeat: no-repeat;
    background: url(../img/cb/cb_grand.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-color: #746BA5;
    margin: 0px;
}

#backNS img {
    position: fixed;
    z-index: -1;
    width: 100%;
}

#landing {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#landing div:last-child {
    flex: 1
}

h1 {
    margin-top: 1vw;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0px;
    color :#33EEF5
}

 
.void {
    height: 25vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}



nav ul {

    display: flex;
    justify-content: space-around;
}

ul li {
    list-style: none;
}

li a {

    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.2 ease;

}

nav a:hover {
    color: #33EEF5;
    transition: 0.2 ease;
}

#arcologo-wrap {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    align-items: center;
    background: linear-gradient(90deg, rgba(79,31,91,1) 20%, rgba(160,47,99,1) 100%, rgba(255,110,123,1) 100%);     border-radius: 50%;
    width: 20%;
    box-shadow: 7px 8px 16px 9px rgba(0,0,0,0.57);
}

#arcologo-wrap img {
    z-index: 10;
    border-radius: 50%;
    width: 94%;
    height: 94%;
    box-shadow: inset -5px 5px 12px 2px rgba(0,0,0,0.74);
    /*box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);*/
}

#arcologo-wrap img:hover {
    animation: tour 1.2s ease ;
}

@keyframes tour {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.void2 {
    height: 150vh;
}


#sectionpremiere {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0% 12% 0% 12%;
    gap: 8%;
    margin-top: 1000px;
}

#sectionpremiere a {
    text-decoration: none;
}



#sectionpremiere div:last-child *{
    font-family: 'Quicksand', sans-serif;
}


#track {
    flex: 1;
    margin-bottom: 10%;
}

#track a {
    margin-top: 1%;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    text-decoration: none;
    font-weight: 600;
}

hr {
    color: white;
}


#track a:hover {
    font-weight: 700;
}




h2 {
    text-align: center;
    font-size: 1.7em;
    color: white;
    
}

h3 {
    color: white;
    font-size: 2em;
    text-align: center;
}





.buttondiscover{
    display: block;
    margin-top: 3%;
    padding: 1% 1% 1% 1%;
    width: fit-content;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px black;
    background-color: #FB476C;
    border-radius: 40px;
    transition: 0.4s ease;
}

.buttondiscover img, a {
    display: inline;
    vertical-align: middle;
    
}

.buttondiscover img {
    position: relative;
    top: 4px;
    width: 32px;
    height: 32px;
    text-align: right;
    padding-left: 12px;
    transform-origin: center;
    transform: rotate(-90deg);
}

.buttondiscover:hover {
    color: #33EEF5;
    background-color: white;
    transform: scale(1.02);
    transition: 0.4s ease;

}



#coruscant {
    flex: 1;
    display: block;
    box-shadow: 26px -10px 26px 10px rgba(0,0,0,1);
    border-radius: 16px;
    transition: 0.4s ease;
}


#coruscant:hover {
    transform: rotateY(180deg);
    transition: 0.4s ease-in-out;
}

 



#scroller {
    position: fixed;
    top: 83vh;
    left: 91%;
    display: block;
    padding: 8px;
    transform: rotate(90deg);
}

#scroller img {
    position: relative;
    top: 6px;
    opacity: 1;
}


canvas {
    position: absolute;

}

#hamburger, #hmenu {
    display: none;
}

@media only screen and (max-width: 980px)  {
    body {
        background: url("../img/cb/cb_mobile.svg");
        background-size: 100%;
    }

    #arcologo-wrap {
        background: linear-gradient(90deg, rgba(147,5,185,1) 0%, rgba(123,97,216,1) 46%, rgba(85,176,231,1) 84%, rgba(51,238,245,1) 100%);
        width: 250px;
        height: 250px;
    }

}

@media only screen and (max-width: 768px) and (orientation: portrait)  {
    html {
        overflow-y: scroll;
    }
    body {
        background: url("../img/cb/cb_mobile.svg");
        background-size: 100%;
        background-attachment: fixed;
    }

    #arcologo-wrap {
        background: linear-gradient(90deg, rgba(147,5,185,1) 0%, rgba(123,97,216,1) 46%, rgba(85,176,231,1) 84%, rgba(51,238,245,1) 100%);
        width: 250px;
        height: 250px;
    }
    #scroller {
        display: none;
    }
    #sectionpremiere {
        flex-direction: column;
        margin-top: 500px;
    }

    nav {
        display: none;
    }

    #hamburger {
        display: block;
        position: fixed;
        z-index: 101;
        left: 2%;
        top: 1%;
    }

    #hamburger:hover {
        cursor: pointer;
    }

   #hmenu {
        display: flex;
        position: fixed;
        top: 0px;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .8);
        transform: translateX(-100vw);
    }

    #hmenu ul {
        display: flex;
        font-size: 1.6em;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 8vh;

    }

    #hmenu li {
        text-align: center;
    }

    #hamburgerclose {
        position: absolute;
        z-index: 101;
        left: 2%;
        top: 1%;
    }

    #hamburgerclose:hover {
        cursor: pointer;
    }

    #sectionpremiere {
        margin-top: 500px;
        height: 65vh;
    }

    #track {
        display: none;
    }

    .void3 {
        height: 7vh;
    }
  


}
